{% extends 'base.html.twig' %}
{% block body %}
<h2 class="page-header">Add Todo</h2>


	<div class="container">

		<div id="edit">
		{{form_start(form)}}
		{{form_widget(form)}}	
		{{form_end(form)}}
		</div>

	</div>



{% endblock %}